# Ignorer les environnements virtuels
venv/
.env/
ENV/
env/
__pycache__/
*.py[cod]

# Fichiers de log
*.log

# Dossiers temporaires / builds
build/
dist/
*.egg-info/

# Paramètres spécifiques à VSCode
.vscode/

# Autres fichiers inutiles
.DS_Store
Thumbs.db
